{% extends './hr_basic.html' %}
{%  load staticfiles %}
{% block content-container %}
<body>
<br/>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form action="" method="POST">{% csrf_token %}
                <div class="span12">
                    <div class="span3">
                        <input type="text" class="mid_height form-control " name="department_name" placeholder="部门名称"
                               value="{{ form_values.department_name }}">
                    </div>
                    <div class="span3">
                        <input type="date" class="mid_height form-control " name="start_date" placeholder="开始日期"
                        value="{{ form_values.start_date }}">
                    </div>
                    <div class="span3">
                        <input type="date" class="mid_height form-control " name="end_date" placeholder="结束日期"
                        value="{{ form_values.end_date }}">
                    </div>
                    <div class="span3">

                    </div>
                </div>
                <div class="span12">
                    <div class="span3">
                        <input type="text" class="mid_height form-control "  name="employee_id" placeholder="员工编码"
                        value="{{ form_values.employee_id }}">
                    </div>
                    <div class="span3">
                        <input type="text" class="mid_height form-control " name="employee_name" placeholder="员工姓名"
                               value="{{ form_values.employee_name }}">
                    </div>
                    <div class="span3">

                    </div>
                    <div class="span3">
                        <button type="submit" class="mid_height btn ">查找</button>
                    </div>
                </div>
			</form><br/><br/><br/>

        <p>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>部门名称</th>
						<th>员工编码
						</th>
						<th>员工姓名
						</th>
						<th>刷卡日期
						</th>
                        <th>刷卡时间
						</th>
                        <th>刷卡设备
						</th>
					</tr>
				</thead>
				<tbody>
                {% if check_nums > 0 %}
                    {% for checktime in checkout_lists %}
					<tr>
                    <td>
                        {{ checktime.department }}
                    </td>
                    <td>
                        {{ checktime.emplid }}
                    </td>
                    <td>
                        {{ checktime.name }}
                    </td>
                    <td>
                        {{ checktime.date }}
                    </td>
                    <td>
                        {{ checktime.time }}
                    </td>
                    <td>
                        {{ checktime.machineid }}
                    </td>
                    </tr>
                    {% endfor %}
                {% endif %}
				</tbody>
			</table>
        </p>


        <div class="pagination pagination-small pagination-right">
            <ul>
                {% if checkout_lists.has_previous %}
					<li>
						<a href="?page={{ checkout_lists.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span>
						</a>
					</li>
                {% endif %}

				{% for pg in checkout_lists.paginator.page_range %}
                    {%  if pg <= max_page and pg >= min_page %}
                        {% if checkout_lists.number == pg %}
                            <li class="active"><a href="?page={{ pg }}">{{ pg }} </a>
                            </li>
                        {% else %}
                            <li><a href="?page={{ pg }}">{{ pg }}</a>
                            </li>
                        {% endif %}
                    {%  endif %}
				{% endfor %}

                {% if checkout_lists.has_next %}
                    <li>
					<a href="?page={{ checkout_lists.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span>
					</a>
					</li>
                {% endif %}
            </ul>
        </div>

		</div>
	</div>
</div>
</body>
<script>

</script>
{% endblock %}