{%  load staticfiles %}

<div class="tab-pane active" id="panel-000001">
    <div class="container-fluid">
        <p>功能建筑</p>
        <div class="row-fluid">
            <div class="col-xs-12">
                <div class="image-block">
                    <img src="{% static 'image/building1.png' %}" />
                </div>
            </div>
        </div>
        <p>建筑简介</p>
        <div class="row-fluid">
            <div class="col-xs-12">
                <div class="content-block">
                    {{ building.building_model_id.building_desc }}
                </div>
            </div>
        </div>
        <br/><br/>
        <p>建筑属性</p>
        <div class="row-fluid">
            <div class="col-xs-12">
                <table class="table table-block">
                    <thody>
                        <tr>
                            <td><b>建筑名称</b></td>
                            <td>{{ building.building_model_id.building_model_name }}</td>
                        </tr>
                        <tr>
                            <td><b>建筑状态</b></td>
                            <td>{{ building_status }}</td>
                        </tr>
                        <tr>
                            <td><b>建筑类型</b></td>
                            <td>{{ building.building_model_id.building_type }}</td>
                        </tr>
                        <tr>
                            <td><b>当前人工/最大工人</b></td>
                            <td>{{ building.building_model_id.now_worker_num }}/{{ building.building_model_id.max_worker_num }}</td>
                        </tr>
                        <tr>
                            <td><b>产出类型</b></td>
                            <td>{{ building.building_model_id.product_type }}</td>
                        </tr>
                        <tr>
                            <td><b>当前产量/单位产量</b></td>
                            <td>{{ building.building_model_id.now_production_num }}/{{ building.building_model_id.production_num }}</td>
                        </tr>
                    </thody>


                </table>


            </div>
        </div>
    </div>
</div>


