<div class="container">
	<div class="row-fluid">
        <div class="col-xs-12">
            <table class="table table-condensed">
                <colgroup>
                    <col width='25%'/>
                    <col width='25%'/>
                    <col width='25%'/>
                    <col width='25%'/>
                </colgroup>
                <tr>
                    <td><a href="./starmanage"><button class="btn btn-inverse btn-block" type="label">星球</button></a></td>
                    <td><button class="btn btn-inverse btn-block" type="button">殖民地</button></td>
                    <td><button class="btn btn-inverse btn-block" type="button">预留1</button></td>
                    <td><button class="btn btn-inverse btn-block" type="button">预留2</button></td>
                </tr>
                <tr>
                    <td><button class="btn btn-inverse btn-block" type="button">状态</button></td>
                    <td><button class="btn btn-inverse btn-block" type="button">物品</button>
                    <td><button class="btn btn-inverse btn-block" type="button">资源</button></td>
                    <td><button class="btn btn-inverse btn-block" type="button">舰队</button></td>
                </tr>
            </table>
        </div>
	</div>
</div>