@CHARSET "UTF-8";

.bg_query_title {
    margin-top:10px;
    margin-bottom: 10px;
    width:50%;
}

.bg-listdata {
    position:relative;                   /* 布局相对偏移 */
    left:20px;                           /* 左偏移20像素 */
    margin-top:10px;                     /* 内顶边距10px */
    margin-bottom: 10px;                 /* 内底边距10px */
    width: 90%;                          /* 宽度90% */
    background-color: #fff;
    border:#d0d0d0 1px solid;
    font-size: 13px;

}

.dtQuery_list5{
    position:relative;                   /* 布局相对偏移 */
    left:20px;                           /* 左偏移20像素 */
    width: 90%;                          /* 宽度90% */
    font-size: 13px;
    background-color: #fff;

}

.dtQuery_list5 TABLE{
    margin:10px auto 0px auto;
    font-size:10.0pt;
    width: 100%;
    text-align: center;
    border-collapse:collapse;
}
.dtQuery_list5 TABLE, TH, TD{
    border: 1px solid rgba(0, 0, 0, 0.54);
    text-align: center;
}
.dtQuery_list5 TH {
    background: rgba(0, 0, 0, 0.19);
}
.dtQuery_list5 TABLE TR{
    height: 30px;
}
.dtQuery_list5 TABLE TH.TH1{
    width:5%;
}
.dtQuery_list5 TABLE TH.TH2{
    width:25%;
}
.dtQuery_list5 TABLE TH.TH3{
    width:25%;
}
.dtQuery_list5 TABLE TH.TH4{
    width:20%;
}
.dtQuery_list5 TABLE TH.TH5{
    width:20%;
}
.dtQuery_list5 TABLE TH.TH6{
    width:5%;
}